<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>My Name is Johnny Chung</p>
      <p>I am a Seneca Student studying computer programming</p>
      <p>I am currently exploring new opportunities.</p>
      
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Linkedin</h2>
    <a href="https://www.linkedin.com/in/johnny-wychung/" target="_blank">Connect Me</a>
  </aside>
</div>
