
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My Name is Johnny Chung</p>
          <p>I am a Seneca Student studying computer programming</p>
          <p>I am currently exploring new opportunities.</p>
          <a href="https://www.linkedin.com/in/johnny-chung-782501154/" target="_blank">Connect Me</a>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>I will be back.</p>
        </aside>
      </div>
    </div>
