<div class="row">
  <div class="col-md-12">

    <h2>Log In</h2>

    <br>
    {{#if errorMessage}}
      <div class="col-md-12 text-center">
        <strong>{{errorMessage}}</strong>
      </div>
      <br>
    {{/if}}

    <form method="post" action="/login">

      <fieldset>

        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="userName" class="col-form-label">Username:</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="userName" name="userName" type="text" required placeholder="User Name" {{#if
              userName}} value={{userName}} {{/if}} />
          </div>
        </div>
        <br>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="password" class="col-form-label">Password:</label>
          </div>
          <div class="col-auto">
            <input class="form-control" id="password" name="password" type="password" placeholder="password" required />
          </div>
        </div>


      </fieldset>

      <hr>

      <input type="submit" class="btn btn-primary pull-right" value="Login"><br><br><br>

    </form>
  </div>
</div>